 @import 'https://fonts.googleapis.com/css?family=Montserrat';
                    @import 'https://fonts.googleapis.com/css?family=Lato:400'; 
                    
                    #myChart {
                        padding: 50px, 10px, 20px, 10px;
                        width: 100%;
                        margin-left: 20px;
                        top: 30px
                        }
                        
                        #myChart-top {box-shadow: 10px 10px 5px 0px rgba(222,222,222,0.9);
                        /*max-width: 800;*/
                        }
                        .zc-ref {display: none;}